In [1]:
import pandas as pd

In [ ]:
df_gpx = pd.read_csv(
    "tabela_final_lsmision_35km_ultima.csv", sep=";", index_col="Unnamed: 0"
)
df_gpx.head()

,latitude,longitude,elevacao,diff_elev,distancias,soma_elev,soma_dist,km_group,desnivel_positivo,desnivel_negativo
0,"-22,3905289","-44,9661817","922,0","0,0","0,0","0,0","0,0",0,"0,0","0,0"
1,"-22,3905414","-44,9661728","922,0","0,0","1,66","0,0","1,66",1,"0,0","0,0"
2,"-22,3905539","-44,9661641","922,0","0,0","1,65","0,0","3,3099999999999996",1,"0,0","0,0"
3,"-22,3905742","-44,9661552","921,0","-1,0","2,44","-1,0","5,75",1,"0,0","-1,0"
4,"-22,3905946","-44,9661465","921,0","0,0","2,44","-1,0","8,19",1,"0,0","0,0"

In [4]:
df_grouped = df_gpx.groupby('km_group').agg({
    'elevacao': 'first',
    'distancias': 'sum',
    'soma_elev': 'last',
    'soma_dist': 'last',
    'desnivel_positivo': 'sum',
    'desnivel_negativo': 'sum'
}).reset_index()
df_grouped.head()

,km_group,elevacao,distancias,soma_elev,soma_dist,desnivel_positivo,desnivel_negativo
0,0,"922,0","0,0","0,0","0,0","0,0","0,0"
1,1,"922,0","1,661,652,442,443,123,133,633,633,993,994,114,...","4,0","998,9099999999996","0,00,00,00,00,00,00,00,00,00,00,01,00,00,00,00...","0,00,0-1,00,00,00,00,00,00,00,00,00,00,00,00,0..."
2,2,"926,0","2,682,672,762,752,942,933,163,163,253,263,323,...","92,0","1997,5200000000007","0,00,01,00,00,00,00,01,00,00,00,00,01,00,00,00...","0,00,00,00,00,00,00,00,00,00,00,00,00,00,00,00..."
3,3,"1014,0","2,962,963,043,032,982,992,832,832,762,752,772,...","150,0","2997,129999999998","0,00,00,00,00,00,00,00,01,00,00,00,00,01,00,00...","0,00,00,00,00,00,00,00,00,00,00,00,00,00,00,00..."
4,4,"1073,0","2,912,92,962,953,013,013,133,133,253,263,253,2...","115,0","3996,4899999999943","1,00,00,00,00,01,00,00,00,00,01,00,00,00,00,01...","0,00,00,00,00,00,00,00,00,00,00,00,00,00,00,00..."